<div class="banner-container">
    <!--<i class="fas fa-chevron-left flechas"></i>-->
    <img id="banner" src="/images/index/img-home-banner.jpg"/>
    <!--<i class="fas fa-chevron-right flechas"></i>-->
</div>