<form id="hamburguer" >
    <div class="contenedor-login-fas" id="bars">
        <a  href="/register" >
            <i class="fas fa-bars"></i>
        </a>
    </div>
</form>
<div id="logo-header">
    <img id="logo" src="/images/logoGameUp.png"/>
</div>
<div id="search">
    <form action="/" id="form-search" method="POST">
        <input id="buscador" type="text" placeholder="Buscar productos"/>
        <button id="boton-search"><i class="fas fa-search"></i></button>
    </form>                               
</div>
<form id="login">
    <div class="contenedor-login-fas" id="user">
        <a href="/login"><i class="far fa-user"></i></a>
    </div>
    <div class="contenedor-login-fas" id="cart">
        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</form>