<header>
    <form id="hamburguer" name="hamburguer" name="">
        <div class="contenedor-login-fas" id="bars">
            <label for="show-hamburguer">
                <i class="fas fa-bars"></i>
            </label>

            <div>
                <input type="checkbox" id="show-hamburguer" hidden>
                <ul class="navbar-hamburguer">
                  <li class="li-hover "><a href="/login">Iniciar sesion</a></li>
                  <li class="li-hover "><a href="/register">Crear cuenta</a></li>
                  <li class="li-hover consolas"><a href="/playstation">PlayStation</a></li>
                  <li class="li-hover consolas"><a href="/nintendo-switch">Switch</a></li>
                
                </ul>
            </div>
        </div>
    </div>


    </form>
    <div id="logo-header">
        <a href="/"><img id="logo" src="/images/logoGameUp.png"/></a>
    </div>
    <div id="search">
        <form action="" id="form-search">
            <input id="buscador" type="text" placeholder="Buscar productos"/>
            <button id="boton-search"><i class="fas fa-search"></i></button>
        </form>                               
    </div>
    <form id="login">
        <div class="contenedor-login-fas" id="user">
            <a href="/login"><i class="far fa-user"></i></a>
        </div>
        <div class="contenedor-login-fas" id="cart">
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </form>
</header>
