<div  class="columna-50">                    
    <img src="/images/productDetail/imagen principal.webp" alt="">                                        
</div>
<div class="columna-50">
    <h3>Mortal Kombat 11 Ultimate Edition</h3>
    <p class="resaltar">NUEVO</p>
    <p>En inventario</p>
    <p>Precio unitario: $1399.00 MXN</p>                    
</div>