<div id="content-navbar-desk">
    <ul id="navbar-desk">
        <li><a href="/playstation"><img src="/images/PlayStation.jpg" alt=""></a></li>
        <li><a href="/nintendo-switch"><img src="/images/nintendo.jpg" alt=""></a></li>
    </ul>
</div>