<article class="caja-box-shadow">
    <a href="productDetail"><img  src="/images/index/mortal-kombat.png" alt="Mortal Kombat 11"></a>                        
    <div class="caja">
        <p class="precios estado">Nuevo</p>
        <p><i class="fas fa-shipping-fast"></i></p> 
        <p class="precios">Precio $1399.00</p>
        <p class="descuentos">Descuento 40% OFF</p>                            
    </div>
    <p class="descripciones">Mortal Kombat 11</p>                                                
</article>