<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/b79dcbefc5.js" crossorigin="anonymous"></script>
    <link rel="icon"  type="image/png" href="/images/logoGameUp.png">
    <title>Game UP</title>
</head>
<body>
    <header>
        <form id="hamburguer" >
            <div class="contenedor-login-fas" id="bars">
                <a  href="/register" >
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </form>
        <div id="logo-header">
            <img id="logo" src="/images/logoGameUp.png"/>
        </div>
        <div id="search">
            <form action="/" id="form-search" method="POST">
                <input id="buscador" type="text" placeholder="Buscar productos"/>
                <button id="boton-search"><i class="fas fa-search"></i></button>
            </form>                               
        </div>
        <form id="login">
            <div class="contenedor-login-fas" id="user">
                <a href="/login"><i class="far fa-user"></i></a>
            </div>
            <div class="contenedor-login-fas" id="cart">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </form>
    </header>
    
    <div class="banner-container">
        <i class="fas fa-chevron-left flechas"></i>        
        <img id="banner" src="/images/index/img-home-banner.jpg"/>
        <i class="fas fa-chevron-right flechas"></i>
    </div>
    <!--Nuevo contenido main imagenes-->
    <main>
        <div>
        <div class="contendor-main">
            <section >
                <h1 class="titulares">Populares Playstation</h1>
                <div class="caja-wrap">
                    <article class="caja-box-shadow">
                        <a href="productDetail"><img  src="/images/index/mortal-kombat.png" alt="Mortal Kombat 11"></a>                        
                        <div class="caja">
                            <p class="precios estado">Nuevo</p>
                            <p><i class="fas fa-shipping-fast"></i></p> 
                            <p class="precios">Precio $1399.00</p>
                            <p class="descuentos">Descuento 40% OFF</p>                            
                        </div>
                        <p class="descripciones">Mortal Kombat 11</p>
                        
                        
                    </article>
                    <article class="caja-box-shadow">
                        <img  src="/images/index/ff7-remake-ps4-1.jpg" alt="Final Fantasy VII">
                        <div class="caja">
                            <p><i class="fas fa-shipping-fast"></i></p>                           
                            <p class="precios">$1299.99</p>
                            <p class="descuentos">20% off</p>

                        </div>
                        <p class="descripciones">Final Fantasy VII</p>
                    </article>
                    <article class="caja-box-shadow">
                        <img  src="/images/index/gow-ps4-1.jpg" alt="God Of War PS4">
                        <div class="caja"> 
                            <p><i class="fas fa-shipping-fast"></i></p>         
                            <p class="precios">$1659.99</p>
                            <p class="descuentos">10% off</p>

                        </div>
                        <p class="descripciones">God Of War PS4</p>
                    </article>
                    <article class="caja-box-shadow">
                        <img  src="/images/index/ff7-remake-ps4-1.jpg" alt="Final Fantasy VII">
                        <div class="caja">
                            <p><i class="fas fa-shipping-fast"></i></p>
                            <p class="precios">$1299.99</p>
                            <p class="descuentos">5% off</p>

                        </div>
                        <p class="descripciones">Final Fantasy VII"</p>
                    </article>            
                </div>
            </section>
            <section >
                <h1 class="titulares">Populares Nintendo</h1>
                <div class="caja-wrap">
                    <article class="caja-box-shadow">
                        <img  src="/images/index/smash-sw-1.jpg" alt="Smash Brothers Ultimate">
                        <div class="caja">
                            <p><i class="fas fa-shipping-fast"></i></p>
                            <p class="precios">$1658.00</p>
                            <p class="descuentos">20% off</p>

                        </div>                          
                        <p class="descripciones">Smash Brothers Ultimate</p>
                        
                    </article>
                    <article class="caja-box-shadow">
                        <img  src="/images/index/botw-sw-1.jpg" alt="Zelda Breath of The Wild">
                        <div class="caja">
                            <p><i class="fas fa-shipping-fast"></i></p>
                            <p class="precios">$1399.00</p>
                            <p class="descuentos">20% off</p>

                        </div>
                        <p class="descripciones">Zelda Breath of The Wild</p>
                    </article>
                    <article class="caja-box-shadow">
                        <img  src="/images/index/smash-sw-1.jpg" alt="Smash Brothers Ultimate">
                        <div class="caja"> 
                            <p><i class="fas fa-shipping-fast"></i></p>         
                            <p class="precios">$1658.00</p>
                            <p class="descuentos">10% off</p>

                        </div>
                        <p class="descripciones">Smash Brothers Ultimate</p>
                    </article>
                    <article class="caja-box-shadow">
                        <img  src="/images/index/botw-sw-1.jpg" alt="Zelda Breath of The Wild">
                        <div class="caja">
                            <p><i class="fas fa-shipping-fast"></i></p>
                            <p class="precios">$1399.00</p>
                            <p class="descuentos">5% off</p>

                        </div>
                        <p class="descripciones">Zelda Breath of The Wild</p>
                    </article>
                </div>         
            </section>
           
        </div>
        </div>
    </main>
    <!-- Fin Nuevo contenido main imagenes-->

    <!-- Contenudo anterior-->
    <div id="anterior">
    <div>
        <div class="seccion">
            <h2>Populares Nintendo</h2>
            <a href="#">Mas resultados</a>
        </div>
        <div class="items">
            <article >
                <img  src="/images/index/smash-sw-1.jpg" alt="Smash Brothers Ultimate">
                <div class="detalles-producto"> 
                <p class="nombre-producto">Super Smash Brothers</p>
                <p class="estado">Nuevo</p>
                <p>Normal: <span>1500.00</span></p>
                <p>En Tienda: <span>1450.00</span></p>
                <p class="envio">A domicilio: <span>1350.00</span></p>
                </div>
                
            </article>
            <article>
                <img  src="/images/index/botw-sw-1.jpg" alt="Zelda Breath of The Wild">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Zelda Breath of the Wild</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>
        </div>
        

    </div>

    <div>
        <div class="seccion">
            <h2>Populares Playstation</h2>
            <a href="#">Mas resultados</a>
        </div>
        <div class="items">
            <article>
                <img  src="/images/index/gow-ps4-1.jpg" alt="God Of War PS4">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">God Of War</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>
            <article>
                <img  src="/images/index/ff7-remake-ps4-1.jpg" alt="Smash Brothers Ultimate">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Final Fantasy 7 Remake</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>
        </div>        
    </div>

    <div>
        <div class="items">
            <article>
                <a href="/productDetail">
                    <img  src="/images/index/mortal-kombat.png" alt="Mortal Kombat 11">
                </a>
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Mortal Kombat 11 Ultimate Edition</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1399.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1499.00</span></p>
                </div>
            </article>
            <article>
                <img  src="/images/index/ff7-remake-ps4-1.jpg" alt="Smash Brothers Ultimate">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Final Fantasy 7 Remake</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>           
        </div>        
    </div>
    </div>
    <!-- Fin Contenudo anterior-->
    

    <footer class="footer">
        <div class="elemento-footer">
            <h2>INFORMACION</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>SERVICIO AL CLIENTE</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>REDES SOCIALES</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>FORMAS DE PAGO</h2><i class="fas fa-plus"></i>
        </div>
        <div class="terminos">
            <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
                Reservados
            </p>
        </div>
    </footer>

    <footer >
        <div class="footer-1200">
            <div>
                <h2>INFORMACION</h2>
                <ul>
                    <li><a href="/">Sobre Nosotros</a></li>
                    <li><a href="/">Trabaja con Nosotros</a></li>
                </ul>
            </div>
            <div>
                <h2>SERVICIO AL CLIENTE</h2>
                <ul>
                    <li><a href="/">Preguntas Frecuentes</a></li>
                    <li><a href="/">Contacto</a></li>
                    <li><a href="/">Tips de Seguridad</a></li>
                    <li><a href="/">Formas de Pago</a></li>
                    <li><a href="/">Politicas de Privacidad</a></li>
                    <li><a href="/">Politicas de Envios</a></li>
                    <li><a href="/">Devoluciones y Cancelaciones</a></li>
                </ul>
            </div>
            <div>
                <h2>FORMAS DE PAGO</h2>
                <img src="/images/productDetail/formas-pago.PNG" alt="Formas de Pago">
            </div>
            <div class="logos-social-media">
                <h2>REDES SOCIALES</h2>
                <img src="/images/facebook.png" alt="">
                <img src="/images/twitter.png" alt="">
                <img src="/images/instagram.png" alt="">
                <img src="/images/whatsapp.png" alt="">
                <img src="/images/youtube.png" alt="">
                
                
                
                

            </div>
            <div class="terminos">
                <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
                    Reservados
                </p>
            </div>
        </div>
    </footer>
    
</body>
</html>