<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
</head>
<body>       
    <header>
        <%- include('../partials/header') %>        
    </header>
    <div class="contenedor"> 
        <div class="vista768">
            <div class="contenedor-imagenes-carrito">   
                <div class="contenedor-imagenes">
                    <div class="imagenes">
                        <img id="imgbody" src="/images/productDetail/segunda-imagen.webp" alt="banner">
                        <img id="imgbody" src="/images/productDetail/tercera imagen.webp" alt="banner">
                        <img id="imgbody" src="/images/productDetail/cuearta-imagen.webp" alt="banner"> 
                    </div>
                    <div class="imagen-principal">
                        <img src="/images/productDetail/imagen principal.webp" alt="banner">
                    </div>
                </div>
            </div>

            <div class="detalles">
                <div id="titulo-juego">
                    <h3>PS4 Juego Mortal Kombat 11 Ultimate Edition</h3>

                </div>
                <div class="precio">
                    <h4>$1,399.00</h4>
                </div>
                <div >
                    <form class="btn" action="/productCart" method="POST">
                            <label for="productCart"></label>
                            <select class="label-productCart" name="productCart" id="productCart">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                            <div class="espacio-form"></div>
                            <input class="btn-productCart" type="submit" value="Añadir al carrito">
                    </form>
                </div>
                <div class="descripcion-envio">
                    <div class="envio">
                        <i class="fas fa-shipping-fast"><span> Envío Gratis</span></i>
                        <div id="letra-envio" ><p>Recibelo pronto en tu domicilio</p> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="descripcion">
            <div class="detalles-producto espacio">
                <div>
                    <label for="show-nav2">
                        Detalle del Producto <span>+</span>
                    </label>  
                </div>
                    <input type="checkbox" id="show-nav2" hidden>
                    <ul class="navbar__menu2">
                      <li>                                
                        <strong>Mortal Kombat 11 Ultimate</strong> es un verdadero coloso de la lucha, con contenido como para que ningún jugador pueda pasar por alto a la ligera a poco que le interese este género tradicional. Si es inagotable en su vertiente online
                                Los 37 personajes tienen su interés gracias sobre todo a lo contrastante de sus movimientos especiales, por lo que utilizarlos hasta cierto nivel de profundidad en esos modos offline
                                La idea de ir ganando consumibles para desbloquear skins, fatalitys y cientos de cosas más es muy buena para un juego de lucha planteado para durar años
                      </li>
                    </ul>
            </div>
            
            <div class="caracteristicas espacio">
                <div>
                    <label for="show-nav3">
                        Características destacadas <span>+</span>
                    </label>  
                </div>
                    <input type="checkbox" id="show-nav3" hidden>
                    <ul class="navbar__menu3">
                        <li>Multiplataforma y multigeneración.</li>
                        <li>Tiempos de carga considerablemente reducidos.</li>
                        <li>Gráficos mejorados</li>
                        <li>Resolución dinámica 4K</li>
                    </ul>
            </div>    
        </div>
        
        
    </div>
    <footer >
       <%- include('../partials/footer') %> 
    </footer>
</body>
</html>